* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
#root {
    height: inherit;
}
html, body {
    height: 100%;
}
body {
    background: linear-gradient(180deg, #CA94FF, rgba(70, 6, 134, 0.81));;
}